.fh5co-social li a{
	font-size: 20px;
}

.logoIPN{
    max-width: 100%;
    max-height: 70px;
    margin-top: -30px;
}

body{
    overflow-x: hidden;
}

#fh5co-header h1 a:after {
  content: initial;
  }

.imagenes-slider{
	background-size:100% 88% !important;
	top:-40px;
}

.textos-sombra{
	text-shadow: 3px 3px 3px #000;
}


#fh5co-services-section, #fh5co-work-section, #fh5co-testimony-section, #fh5co-blog-section {
    padding-top: 120px !important; 
}

.padding-top{
	padding-top:20px !important;
}

#fh5co-header{
  position: fixed;
  background-color: #fff;
  z-index: 999   !important;
  box-shadow: 0px 0px 8px 2px #949494;

}

.margin-top{
  margin-top:25px !important;
}

img.img-inicio{
  width: 100%;
  height: 290px;
 }

.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  transition: .3s all;
}

.bg {
  float: left;
  max-width: 100%;
  position: relative;
  margin: .5%;
}
.bg img {
  max-width: 100%;
  margin-bottom: -4px;
  border-radius: 3px;
}
.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 0;
}
.bg .overlay h3 {
  margin-top: 35%;
  color: #fff;
}
.bg .overlay h3 span {
  font-weight: 400;
}

.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (max-width: 1148px) {
  .bg {
    max-width: 100%;
    max-width: 100%
  }
}
@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 100%;
    max-width: 100%
    margin: .5% auto;
  }
}
#fh5co-footer {
     padding: 0px !important;
     padding-top: 20px !important; 
}

.form-control{
  border-color: #686868;
}

#fh5co-footer input{
  color:#878787 !important;
}


#fh5co-footer textarea{
  resize: none !important;
  color: #878787 !important;
}

#fh5co-footer [class*="col"] {
  padding-bottom: 0px !important;
}

#login-modal .modal-dialog{
  width: 450px !important;
  position: absolute;
  right: 45px;
  top: 50px;
}

.container-padding{
  margin-top: 100px;
  padding: 60px;
  min-height: 500px;
}

.form-control{
  height: 45px;
}

.remove-background{
  background-color: initial !important;
}

#fh5co-header nav ul {
    margin: -20px -0px 0 0;
}

#sub-dropdown{
    margin: -2px -0px 0 0 !important;
    border-radius: 10px;
}

#sub-dropdown  li a{
    font-size: 16px !important;
    line-height: 10px !important;
    padding: 11px !important;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
 


.spinner-wrapp{
   position: fixed;
    top: 40%;
    left: 50%;
    z-index: 9999 !important;
}

.fondo-opaco {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #292929;
    z-index: 999!important;
    will-change: opacity;
    opacity: 0.4;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 p{
    margin-bottom: 10px;
 }
 .sangria{
  padding-left: 15px;
 }

.error-message{
  font-size: 14;
  font-weight: 300;
  color:red;
}